.medialanderhero_main {
  background-image: url(../../../assets/images/medialanderimage.jpg);
  background-size: 100% 100%;
  height: 630px;
  opacity: 0.75;
}
@media (max-width: 600px) {
  .medialanderhero_main {
    height: 500px;
  }
}
