.reviewscards img {
  width: 60px;
}
.reviews_main {
  box-shadow: 2px 2px 2px 2px black;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 20px;
  background-color: white;
}
.reviewscards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 80px;
  padding: 100px 200px;
}
.reviews_main:hover {
  font-size: 30px;
  zoom: 90%;
}
.reviews_main > p {
  font-size: 18px;
  text-align: center;
}
.reviewsheading {
  padding: 20px;
  text-align: center;
  background-color: rgb(66, 66, 139);
}
.reviewsheading > h1 {
  font-size: 50px;
  color: white;
}
@media (max-width: 790px) {
  .reviewscards {
    width: 900px;
  }
}
@media (max-width: 730px) {
  .reviewscards {
    width: 900px;
  }
  .reviews_main {
    padding: 20px;
  }
}
