.portfoliohero_main {
  background-image: url(../../assets/images/portfolioheroimage.jpg);
  background-size: 100% 100%;
  height: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 180px;
}
.portfoliohero_main h2 {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}
.portfoliohero_main h1 {
  text-align: center;
}
.career_objective {
  background-image: url(../../assets/images/careerobjective.jpg);
  background-size: 100% 100%;
  height: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 180px;
}
.career_objective h2 {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  color: white;
}
.career_objective h1 {
  color: red;
}
.build_projects {
  background-image: url(../../assets/images/projectlistimage.png);
  width: 100%;
  height: 730px;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 180px 260px;
}
.build_projects h2 {
  padding: 240px 0 0;
  font-size: 30px;
  color: black;
}
.build_projects h1 {
  color: red;
  font-size: 30px;
}
.slick-slider {
  position: relative;
  z-index: -1;
}
@media (max-width: 830px) {
  .build_projects {
    padding: 150px 150px;
  }
}
@media (max-width: 720px) {
  .build_projects {
    padding: 150px 110px;
  }
}
@media (max-width: 682px) {
  .career_objective h2 {
    font-size: 25px;
  }
  .portfoliohero_main h2 {
    font-size: 25px;
  }
}
@media (max-width: 620px) {
  .portfoliohero_main h2 {
    font-size: 23px;
  }
  .portfoliohero_main {
    padding: 150px;
  }
}
@media (max-width: 600px) {
  .career_objective h2 {
    font-size: 23px;
  }
  .portfoliohero_main h2 {
    font-size: 23px;
  }
  .portfoliohero_main {
    padding: 150px;
  }
}
@media (max-width: 577px) {
  .career_objective h2 {
    font-size: 22px;
  }
  .portfoliohero_main h2 {
    font-size: 25px;
  }
  .build_projects {
    padding: 180px 100px;
  }
  .portfoliohero_main {
    padding: 150px;
  }
}
@media (max-width: 524px) {
  .portfoliohero_main h2 {
    font-size: 19px;
  }
  .portfoliohero_main {
    padding: 100px;
    height: 500px;
  }
  .career_objective {
    padding: 100px;
    height: 500px;
  }
  .build_projects {
    padding: 100px;
    height: 500px;
  }
}
@media (max-width: 480px) {
  .portfoliohero_main h2 {
    font-size: 20px;
  }
  .portfoliohero_main {
    padding: 100px;
    height: 500px;
  }
  .career_objective {
    padding: 100px;
    height: 500px;
  }
  .build_projects {
    padding: 50px;
    height: 500px;
  }
}
