.mediahero_main {
  background-image: url(../../../assets/images/socialmediaimage.jpg);
  background-size: 100% 100%;
  height: 630px;
}
@media (max-width: 480px) {
  .mediahero_main {
    height: 500px;
  }
}
