.newsfeedpage_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 20px;
  background-image: linear-gradient(violet, rgb(102, 102, 251), navy);
}
.about_newsfeed {
  box-shadow: 2px 2px 5px black;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 20px;
  background-image: linear-gradient(violet, purple);
  color: black;
}
.about_newsfeed > h3 {
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 5px black;
}
.newsfeedpage_main > h1 {
  font-size: 50px;
  color: red;
  text-shadow: 2px 2px 5px black;
}
.about_newsfeed > p {
  font-size: 20px;
}
.newsimg img {
  width: 300px;
}
.newsimg {
  display: flex;
  gap: 40px;
}
.newsfeedpage_main > button {
  padding: 10px;
  font-size: 20px;
  background-color: red;
  color: white;
}
.newsfeedpage_main > button:active {
  color: black;
}
@media (max-width: 910px) {
  .newsimg img {
    width: 200px;
  }
}
@media (max-width: 665px) {
  .newsimg img {
    width: 200px;
  }
  .about_newsfeed {
    width: 90%;
  }
}
@media (max-width: 610px) {
  .about_newsfeed {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .about_newsfeed {
    width: 120%;
  }
}
